.article-list {
  margin: 15px;
  border: 1px #b3b3b370 solid;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  position: relative;
}
.article-list img {
  height: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.description {
  margin: 10px 0;
  height: 70px;
  overflow: hidden;
}
.article-list .title {
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
}
.time-uploaded {
  font-weight: 500;
  font-size: 14px;
  background: #0d1b2a50;
  color: #fffbf5;
  width: fit-content;
  padding: 0 10px;
  margin-right: 10px;
}
.open-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-decoration: none;
  background: #fd4556;
  color: #fffbf5;
  padding: 3px 7px;
  border-radius: 8px;
}
.h2 {
  width: fit-content;
  padding: 4px 10px;
}
.hero-image {
  width: 100%;
}
.stadium-list {
  padding: 15px;
  display: flex;
  overflow: auto;
  gap: 25px;
}
.stadium-list img {/*
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;*/
  height: 200px;
}
.stadium-description {
  position: relative;
  height: 150px;
  overflow: hidden;
  padding: 0 10px;
}
.stadium-card {
  border-radius: 8px;
  background: #fffbf5;/*
  border: 1px #b3b3b350 solid;
  box-shadow: 0 0 0.3em rgb(0,0,0,0.2);*/
}
.stadium-card .title-description {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
}
.title-description span {
  font-weight: 400;
  color: #212121d1;
}
.jersey-patch {
  width: 100%;
  background: #0d1b2a;
  margin: 50px 0;
  padding: 50px 15px;
  display: flex;
  color: #fffbf5;
}
.jersey-patch .img {
  width: 50%;
  aspect-ratio: 9/16;
  object-fit: cover;
  object-position: right;
}
.jersey-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}
